node_modules/
dist/
test-dist/
.tmp/
.tmp-search/
.tmp-*/
out/
.turbo/
*.tsbuildinfo
.DS_Store
Thumbs.db

QQMusicapi-main/node_modules/
QQMusicapi-main/credential.json
QQMusicapi-main/device.json
QQMusicapi-main/

apps/desktop/build/
apps/desktop/dist-electron/
apps/desktop/release/

apps/mobile/android/app/src/main/assets/public/
apps/mobile/android/app/src/main/assets/runner.js

apps/mobile/android/.gradle/
apps/mobile/android/app/build/
apps/mobile/android/build/
apps/mobile/android/local.properties
apps/mobile/android/app/src/main/assets/capacitor.config.json
apps/mobile/android/app/src/main/assets/capacitor.plugins.json

apps/desktop/release/
*.pem
*.p12
*.keystore
*.jks
